.apresentacao {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
body {
    
    background-color: rgb(36, 11, 54);
    color: white;

}
span{
    color: lightgreen
}
.deOndeSou {
    color: rgb(242, 220, 93);
    font-style: italic;
}